<h1> My Blog </h1>

<% @blog_posts.each do |blog_post| %>
<div>
<%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>
<% if blog_post.draft? %>
<div class="p-2 rounded bg-light">Draft </div>
<% elsif blog_post.scheduled? %>
<div class="p-2 rounded bg-primary text-light"> Scheduled for <%= blog_post.published_at %> </div>
<% end %>
<h2> <%= link_to blog_post.title, blog_post %> </h2>
<%= blog_post.content %>
</div>
<% end %>

<% if @pagy.count > @pagy.items %>
<div class = "btn btn-light">
<%== pagy_bootstrap_nav(@pagy) %>
</div>
<% end %>